---
import RecalledItems from '../components/RecalledItems.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Baby Safety Site">
  <main>
    <h1>Welcome!</h1>
    <p>Keeping you informed about child safety.</p>
    
    <RecalledItems />
    
  </main>
</Layout>